mixin who-we-are
    section.who-we-are#who-we-are
        .who-we-are__container
            .who-we-are__content
                .heading-3: h3= data.whoWeAreTitle
                p.who-we-are__text= data.whoWeAreText
