mixin how-to-win
    section.how-to-win#how-to-win
        .how-to-win__container
            .how-to-win__content
                .heading-3: h3= data.howToWin.title
                p.how-to-win__text= data.howToWin.text
                button.how-to-win__button= data.howToWin.btn