.reviews {
    
    &__container {
        padding: 40px 30px;
    }
}
.slider {
    
    &__wrapper {
        flex-direction: row;
        align-items: flex-start;
    }
    
    &__image {
        flex-grow: 1;
        width: 20%;
        margin-bottom: 0;
        margin-right: 20px;
    }
    
    &__content {
        flex-grow: 2;
        width: 20%;
    }
}