mixin cookie-block
    .cookie-block
        .cookie-block__container
            .cookie-block__aside
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. At doloremque, facilis minima perspiciatis quo quos repellendus rerum sint! Cumque et itaque nemo nulla officia omnis praesentium sunt! Excepturi, facere, maxime!
            .cookie-block__bside
                button.btn.cookie-block__button Согласен