mixin footer
    footer.footer
        .footer__container
            .footer__left-side
                .footer__copyright Copyright @ 2018  Помощь в тендерах. Все права защищены.
                a(href="#").footer__privacy-policy Политика конфиденциальности
            .footer__right-side
                .footer__phone
                    a(href="tel:+7(999)-111-11-11")
                        i.fa.fa-phone
                        p.details__phone +7(999)-111-11-11
                .footer__email
                    a(href="email:вопросы@помощьвтендерах.рф")
                        i.fa.fa-envelope
                        p вопросы@помощьвтендерах.рф
