extends pug/_template
include components/components

block variables
    - var version = '271120180646';

block title
    title Tender

block content
    div.wrapper
        +cookie-block
        +header
        +navigation
        +intro
        +who-we-are
        +what-we-do
        +why-we
        +what-you-get
        +how-to-win
        +how-we-work
        +special-offer
        +reviews
        +feedback
        +footer