.intro {
    min-height: calc(100vh - 100px);
    background: resolve('bg-intro.png') no-repeat center top / cover;
    position: relative;
    &__container {
        max-width: 1920px;
        margin: 0 auto;
        padding: 20px 10px;
    }
    &__scroll {
        display: none;
        position: absolute;
        left: 50%;
        bottom: 29px;
        @include sprite($scroll);
        margin: 0 auto;
        transition: all .3s ease;
        &:hover {
            opacity: .7;
            transform: translateY(3px);
            transition: all .3s ease;
        }
    }
}

.info-box {
    max-width: 450px;
    margin: 1vh auto 0;
    color: #fff;
    opacity: .9;
    &__header {
        background: rgba(81, 61, 42, .87);
        padding: 10px;
        text-align: center;
    }
    &__title {
        font-family: $colus-font;
        @include font-size(30);
        @include line-height(36);
        font-weight: normal;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    &__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: rgba(119, 79, 53, .78);
        padding: 15px 30px;
    }
    &__content {
        text-align: center;
        margin-bottom: 30px;
    }
}
